<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <section class="site-section" id="section-about">
        <div class="container">
            <div class="row mb-5 align-items-center">
                <div class="col-lg-7 pr-lg-5 mb-5 mb-lg-0">
                    <img src="images/Dhruval.jpeg"  class="img-fluid" width="500" height="700">
                </div>
                <div class="col-lg-5 pl-lg-5">
                    <div class="section-heading">
                        <h2>About</h2>
                    </div>
                    <p class="lead">Hi! I am Dhruvalkumar Patel, who is an international student from India and pursuing my advance 
					diploma in software engineering from centennial college.My dream is to develop an application that can help the needy
					people in critical situation.</p>
                    <form action="images/DhruvalResume.pdf" method="get"class="site-form">
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary  px-4 py-3" value="Resume">
                    </div>
                </form>
                </div>
            </div>
    
    
        </div>
    </section>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>