<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <section class="site-section" id="section-about">
        <div class="container">
            <div class="row mb-5 align-items-center">
                <!-- <div class="col-lg-7 pr-lg-5 mb-5 mb-lg-0">
                    <img src="images/image_1.jpg" alt="Image placeholder" class="img-fluid">
                </div> -->
                <div class="col-lg-5 pl-lg-5">
                    <div class="section-heading">
                        <h2>Project</h2>
                    </div>
                    <div>
                        <img src="images/calculator.png"  width="125" height="125">
                        <p>Build a simple calculator, by using python.</p>
                    </div>
                    <div>
                        <img src="images/magneticcompass.jpg" width="125" height="125">
                        <p>Build a magnetic compass, by using python.</p>
                    </div>
                    <div>
                        <img src="images/PhpconnecttoMysql.png" width="125" height="125">
                        <p> Connect front-end connected to Database.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>